:root {
	--color-dark: #000f27;
	--color-mid: #00143c;
	--color-light: #406c9c;
	--color-text: #f0f0f8e0;
	--color-highlight: gold;
	--color-accent: #992099;
	--lighten: #ffffff40;
	--darken: #00000040;
	color-scheme: dark;
	accent-color: var(--color-light);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-size: inherit;
	line-height: 1;
	font-weight: 400;
}

html {
	font-size: 16px;
}
body {
	font-size: 1.125rem;
}
html,
body {
	height: 100%;
	width: 100%;
	font-family: Helvetica Neue, arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-text);
	background-color: var(--color-mid);
}
button {
	background-color: var(--color-light);
}
button:enabled {
	cursor: pointer;
}

::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-light);
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
.button {
	padding: 0.25rem 0.5rem;
	border-radius: 0.125rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
